@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<p role="status">Current2 count: @currentCount2</p>
<p role="status">Current3 count: @constant</p>


<button class="btn btn-primary" @onclick="IncrementCount">Increment</button>
<button class="btn btn-primary" @onclick="DerementCount">Decrement</button>
<button class="btn btn-primary" @onclick="MultiplyBy2">Multiply</button>
@code {
    private int currentCount = 0;
    private int currentCount2 = 0;
    private int constant = 1;

    [Parameter]
    public int IncrementAmount { get; set; } = 1;

    private void IncrementCount()
    {
        currentCount += IncrementAmount;
    }

    private void DerementCount()
    {
        currentCount2 -= IncrementAmount;
    }

    private void MultiplyBy2()
    {
        constant *= 2;

    }
}